# 项目相关配置
ruoyi:
  # 名称
  name: RuoYi
  # 版本
  version: 3.8.0
  # 版权年份
  copyrightYear: 2021
  # 实例演示开关
  demoEnabled: true
  # 文件路径 示例（ Windows配置D:/ruoyi/uploadPath，Linux配置 /home/ruoyi/uploadPath）
  profile: D:/ruoyi/uploadPath
  # 获取ip地址开关
  addressEnabled: false
  # 验证码类型 math 数组计算 char 字符验证
  captchaType: math

# 开发环境配置
server:
  # 服务器的HTTP端口，默认为8080
#  port: 8094
  port: 8088
  ssl:
    key-store: classpath:ybyoulan.cn.pfx
    key-store-type: PKCS12
    key-store-password: t71444b5qgc
    key-alias: ybyoulan.cn
  servlet:
    # 应用的访问路径
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100

# 日志配置
logging:
  level:
    com.ruoyi: debug
    org.springframework: warn

# Spring配置
spring:
  # 资源信息
  messages:
    # 国际化资源文件路径
    basename: i18n/messages
  profiles: 
    active: druid
  # 文件上传
  servlet:
     multipart:
       # 单个文件大小
       max-file-size:  1024MB
       # 设置总上传的文件大小
       max-request-size:  1024MB
  upload:
    #开发环境-MAC电脑
#    server: http://127.0.0.1:8088
#    path: /Users/lisenshuai/Desktop/李森帅专用文件夹/其他文档/上传的文件
#    videopath: /Users/lisenshuai/Desktop/李森帅专用文件夹/其他文档/上传的文件
#    ffmpeg: /Users/lisenshuai/ffmpeg/ffmpeg

    #开发环境-windown电脑
  #  server: http://127.0.0.1:8088
  #  path: D:/文件/图片文件/
  #  videopath: D:/文件/视频文件/
  #  ffmpeg: C:\Users\47232\AppData\Local\Microsoft\WinGet\Packages\Gyan.FFmpeg_Microsoft.Winget.Source_8wekyb3d8bbwe\ffmpeg-7.1.1-full_build\bin\ffmpeg.exe

    #正式环境
    server: http://114.132.162.213
    path: /home/web/dist/yinbo/img
    videopath: /home/web/dist/yinbo/video/
    ffmpeg: /usr/bin/ffmpeg
  # 服务模块
  devtools:
    restart:
      # 热部署开关
      enabled: true
  # redis 配置
  redis:
    enabled: true
    # 地址
#    host: 127.0.0.1
    host: 114.132.162.213
    # 端口，默认为6379
    port: 6379
    # 数据库索引
    database: 2
    # 密码
    password: 
    # 连接超时时间
    timeout: 20s
    lettuce:
      pool:
        # 连接池中的最小空闲连接
        min-idle: 0
        # 连接池中的最大空闲连接
        max-idle: 8
        # 连接池的最大数据库连接数
        max-active: 8
        # #连接池最大阻塞等待时间（使用负值表示没有限制）
        max-wait: -1ms
minio:
  host: http://114.132.162.213:9098
  url: ${minio.host}/${minio.bucket}/
  access-key: HzGht0pmB3G5MBEMegTy
  secret-key: WdzF5H5DrghjDxaYOH6XtzFeZnJLPYNGATYrexuR
  bucket: livzon

# token配置
token:
    # 令牌自定义标识
    header: Authorization
    # 令牌密钥
    secret: abcdefghijklmnopqrstuvwxyz
    # 令牌有效期（默认30分钟）
    expireTime: 30
  
# MyBatis配置
mybatis:
    # 搜索指定包别名
    typeAliasesPackage: com.ruoyi.project.**.domain
    # 配置mapper的扫描，找到所有的mapper.xml映射文件
    mapperLocations: classpath*:mybatis/**/*Mapper.xml
    # 加载全局的配置文件
    configLocation: classpath:mybatis/mybatis-config.xml

# MyBatis-plus配置
mybatis-plus:
  global-config:
    db-config:
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0
  mapper-locations: classpath*:mybatis/*/*.xml
  configuration:
    cache-enabled: true
    use-generated-keys: true
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
    default-executor-type: SIMPLE
  #type-aliases-package: com.ruoyi.**.domain,;com.d3code.**.domain
  type-aliases-package: com.ruoyi.project.**.domain

# PageHelper分页插件
pagehelper: 
  helperDialect: mysql
  supportMethodsArguments: true
  params: count=countSql 

# Swagger配置
swagger:
  # 是否开启swagger
  enabled: true
  # 请求前缀
#  pathMapping: /dev-api
  pathMapping:

# 防止XSS攻击
xss: 
  # 过滤开关
  enabled: true
  # 排除链接（多个用逗号分隔）
  excludes: /system/notice
  # 匹配链接
  urlPatterns: /system/*,/monitor/*,/tool/*
  
# 代码生成
gen: 
  # 作者
  author: ruoyi
  # 默认生成包路径 system 需改成自己的模块名称 如 system monitor tool
  packageName: com.ruoyi.project.cms
  # 自动去除表前缀，默认是true
  autoRemovePre: false
  # 表前缀（生成类名不会包含表前缀，多个用逗号分隔）
  tablePrefix: cms_

common:
  vipDayRemaining: 30

wechat:
  appid: wx6a9f44e2b18a316e
  secret: 36cbae0aa940badbc0ee553b8204a0b5
  pay:
    # 商户号
    mchid: 1723914419
    # 证书序列号
    serial_no: 3E3D061F8B9979DE74A58AEADCBD25D6358FFCE8
    notify_url: https://www.ybyoulan.cn:8088/wxpay/notify
    APIv3_key: C5C783DA25F107618073B9F05EA223E6
  cert:
    pub_wechatpay: /opt/cert/wechatpay.pem
    apiclient_key: /opt/cert/apiclient_key.pem
    apiclient_cert: /opt/cert/apiclient_cert.pem
    pub_key: /opt/cert/pub_key.pem
