<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.rule.match.mapper.LeagueRuleMapper">

    <!-- 新增记录的SQL语句 -->
    <insert id="insertLeague" parameterType="LeagueRule" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO sta_league_rule (leagueid,fmt, sys, age_lim, periods, period_dur, ot_dur, rank_rules, win_pts, loss_pts)
        VALUES (#{leagueId},#{fmt}, #{sys}, #{ageLim}, #{periods}, #{periodDur}, #{otDur}, #{rankRules}, #{winPts}, #{lossPts})
    </insert>

    <update id="updateLeagueRule" parameterType="LeagueRule">
        UPDATE sta_league_rule
        <set>
            <if test="leagueId != null">
                leagueid = #{leagueId},
            </if>
            <if test="fmt != null">
                fmt = #{fmt},
            </if>
            <if test="sys != null">
                sys = #{sys},
            </if>
            <if test="ageLim != null">
                age_lim = #{ageLim},
            </if>
            <if test="periods != null">
                periods = #{periods},
            </if>
            <if test="periodDur != null">
                period_dur = #{periodDur},
            </if>
            <if test="otDur != null">
                ot_dur = #{otDur},
            </if>
            <if test="rankRules != null">
                rank_rules = #{rankRules},
            </if>
            <if test="winPts != null">
                win_pts = #{winPts},
            </if>
            <if test="lossPts != null">
                loss_pts = #{lossPts},
            </if>
        </set>
        WHERE id = #{id}
    </update>


    <!-- 查看记录的SQL语句 -->
    <select id="selectLeagueById" resultType="com.ruoyi.project.rule.match.domain.LeagueRule">
        SELECT * FROM sta_league_rule WHERE leagueid = #{leagueId}
    </select>

    <select id="selectAllLeagues" resultType="com.ruoyi.project.rule.match.domain.LeagueRule">
        SELECT * FROM sta_league_rule
    </select>

</mapper>
